*{
  font-family: 'Merriweather', Helvetica, sans-serif;
  line-height: 1.8;
}
.custom-button {
  background-color: #222222;
  color: #fff;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
}

.custom-button:hover {
  background-color: darkred;
  cursor: pointer;
  color: #fff;
}

#input-date{
  color: #222222;
}

#submit{
 background-color: rgba(136, 67, 3, 0.808);
}

#submit:hover{
  background-color: darkorange;
}

.hero {
  background-position-y: center;
  background-size: cover;
  background-image: url('https://media.discordapp.net/attachments/1026278051627139114/1091161273158348820/image.png?width=1202&height=676');
}

.container {
  justify-content: center;
}
.section{
  margin-top: 40px;
}
.navbar-item {
  padding-top: 70px;
  font-size: 75px;
  color: #fff;
}

.subtitle {
  margin: 0 20% 0 20%;
  font-size: 16px;
  line-height: 1.8;
}

body {
  background-color: #000000;
}

.centerButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-top: 50px;
}

.centerSubmit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#main-description {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.349) ;
  padding: 10px 20px 10px 20px;
}

#get-started {
  background-color: rgba(136, 67, 3, 0.808);
  border: 1px solid #222222;
}
#get-started:hover{
  background-color: darkorange;
}
#controls{
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#prev{
  background-color: rgba(136, 67, 3, 0.808);
  position: absolute;
  left: 20px;
  top: 50%;
}
#prev:hover{
  background-color: darkorange;
}
#next{
  background-color: rgba(136, 67, 3, 0.808);
  position: absolute;
  right: 20px;
  top: 50%;
}
#next:hover{
  background-color: darkorange;
}
.field {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.label {
  text-align: left;
}

#sendMessagebtn {
  background-color: rgba(136, 67, 3, 0.808);
  border: 1px solid #222222;
}
#sendMessagebtn:hover{
  background-color: darkorange;
}
#centerAlignBtn {
  text-align: center;
}

#commentSec {
  margin-left: 15px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.section:not(:last-child) {
  margin-bottom: 4rem;
}

.footer {
  margin-top: 100px;
  background-color: #111111;
  color: white; /* To change the text color to white */
  padding: 40px;
}

#github-btn{
  margin-left: 48%;
  margin-top: 50px;
  background-color: #fff;
}

#img_counter {
  text-align: center;
}
.body-photo{
  width: 300px;
  height: 300px;
  margin-left: 40px;
  margin-right: 40px;
}
.rover-photo{
  box-shadow: 20px 20px 1px #222222, -20px -20px 1px #111111;
}
.card-photo{
  object-fit: cover;
}
#gh-link{
  margin-top: 20px;
  margin-left: 48.4%;
  width: 80px;
  background-color: #222222;
  border: 1px solid #000000;
  color: #FFFFFF;
}
#gh-link:hover{
  transform: scale(1.03);
}
.title-h5{
  font-size: xx-large;
}

.modal-card-title {
  font-size: 1.2rem;
}

@keyframes modulefadein {
  0% {opacity: 0;}
  100% { opacity: 1; }
}

.modal-card {
  animation-name: modulefadein;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

#img-modal-content {
  animation-name: modulefadein;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;

}

.photo-info li {
  display: flex;
  justify-content: center;
  align-items: center;
}
#cards{
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.card{
  width: 25vw;
  padding: 100px;
  background-color: #333333;
}
.content{
  font-size: x-small;
}
#pers-title{
  color: #fff;
}
#pers-subtitle{
  color: #fff;
}
.specs{
  font-size: 22px;
}
.specs p{
  font-size: x-small;
}
#white-bg1{
  color: #fff;
}
#pers-source{
  color: #fff;
  text-decoration: underline;
}

.modal-card-foot{
  justify-content: center;
}

.modal-card-body {
  text-align: center;
}

.modal-card-title{
  text-align: center;
}
.subscribe{
  margin-bottom: 50px;
  font-size: xx-large;
}
div.weather > *{
  color: #fff;
}
.weather{
  margin: auto;
  width: 25vw;
  padding: 100px;
  margin-top: 100px;
}
.weather-title{
  margin-top: 200px;
}
div.weather > img {
  width: 500px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: -20px -20px 1px #222222, 20px 20px 1px #111111;
}
.space{
  margin-top: 30px;
}
#weather-source{
  color: #fff;
  font-weight: bold;
}
#weather-source:hover{
text-decoration: underline;
}
.card-photo{
  width: 300px;
  height: 300px;
}
.meet-the-rovers{
  margin: 100px;
}
.body-content > img{
  margin-bottom: auto;
  margin-top: auto;
}